/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("magnific-popup.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Palette */
/* Defaults */
body {
  font-family: Tahoma, "DejaVu Sans Condensed", sans-serif;
  font-size: 14pt;
  background: url('../img/1280px-Old-castle.jpg?1421800589') top center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.no-background-size body {
  background: #01a1df;
}

h2 {
  font-size: 165%;
  padding: 0.5em 0;
  color: white;
}

p {
  padding: 0.5em 0;
  line-height: 125%;
}

a {
  color: #004560;
  font-weight: bold;
  text-decoration: none;
}

/* Layout */
section > div, footer > div {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.25em;
}

section:not(#intro), footer {
  border-top: 3px solid rgba(255, 255, 255, 0.6);
}
section:not(#intro) p, footer p {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

#intro {
  padding: 2em;
  font-size: 18pt;
  color: white;
  min-height: 4em;
}
#intro a {
  color: white;
}

#intro, #share {
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  text-align: center;
}

#whatisit {
  background: #adc85b;
  background: url('../img/icon1.png?1421628174') 0 -60px no-repeat rgba(173, 200, 91, 0.9);
}

#nofop {
  background: #c280b0;
  background: url('../img/icon2.png?1421628175') 0 -60px no-repeat rgba(194, 128, 176, 0.9);
}

#wepropose {
  background: #adc85b;
  background: url('../img/icon3.png?1421628175') 0 -60px no-repeat rgba(173, 200, 91, 0.9);
}

#why {
  background: #a2a0d6;
  background: url('../img/icon4.png?1421628176') 0 -60px no-repeat rgba(162, 160, 214, 0.9);
}

#photoflashmob {
  background: #adc85b;
  background: rgba(173, 200, 91, 0.9);
  /* When inside the popup */
}
.mfp-content #photoflashmob {
  background: rgba(192, 213, 130, 0.85);
}

#share {
  background-color: rgba(0, 0, 0, 0.25);
  padding-top: 3em;
  padding-bottom: 300px;
}
#share p {
  padding: 1em 0 6em 0;
}

footer {
  background-color: #0d0d0d;
  color: #f2f2f2;
  font-size: 9pt;
  border-top: 2px solid gray;
  padding: 2em 0.5em;
}
footer ul {
  text-align: left;
  padding: 0 2em;
  list-style: square;
}
footer a {
  color: #a39eb8;
}

/* Modules */
#langswitch {
  padding-top: 0.5em;
}
#langswitch a {
  font-size: 80%;
  color: white;
  padding: 0 0.5em;
  font-weight: normal;
}

.button {
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  background: #adc85b;
  background: rgba(173, 200, 91, 0.8);
  color: white;
  position: relative;
}
.button:hover {
  background-color: rgba(192, 213, 130, 0.8);
}

#share #support {
  font-size: 175%;
}

#share-link {
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  background: #6e6abf;
  background: rgba(110, 106, 191, 0.8);
  color: white;
  position: relative;
}
#share-link:hover {
  background-color: rgba(145, 142, 207, 0.8);
}

.button.photoflashmob {
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  background: #dd4444;
  background: rgba(221, 68, 68, 0.8);
  color: white;
  position: relative;
}
.button.photoflashmob:hover {
  background-color: rgba(229, 111, 111, 0.8);
}

.illustration {
  margin: 0.25em;
  display: block;
  -moz-box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 480px) {
  #hashtag, #langswitch {
    position: absolute;
    top: 0.3em;
  }

  #hashtag {
    right: 0.3em;
  }

  #langswitch {
    left: 0.3em;
  }
  #langswitch a {
    padding: 0 0.25em;
  }

  .illustration {
    float: right;
    max-width: 300px;
  }
}
/* Plugins */
/* Magnific Popup */
.mfp-content {
  max-width: 1024px;
}
