/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Palette */
/* Defaults */
body {
  font-family: Tahoma, "DejaVu Sans Condensed", sans-serif;
  font-size: 14pt;
  text-align: center;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/%D0%A1%D1%82%D0%B0%D1%80%D0%B0_%D1%84%D0%BE%D1%80%D1%82%D0%B5%D1%86%D1%8F.jpg/1280px-%D0%A1%D1%82%D0%B0%D1%80%D0%B0_%D1%84%D0%BE%D1%80%D1%82%D0%B5%D1%86%D1%8F.jpg") top center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.no-background-size body {
  background: #01a1df;
}

h2 {
  font-size: 165%;
  padding: 0.5em 0;
  color: white;
}

p {
  padding: 0.5em;
  line-height: 125%;
}

a {
  color: #363377;
  text-decoration: none;
}

/* Layout */
section > div, footer > div {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

section, footer {
  border-top: 3px solid rgba(255, 255, 255, 0.6);
}

#intro {
  padding: 2em;
  font-size: 18pt;
  color: white;
  min-height: 4em;
}
#intro a {
  color: white;
}

#intro, #share {
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

#whatisit {
  background: #86A136;
  background: url('../img/icon1.png?1421628174') 0 -60px no-repeat rgba(134, 161, 54, 0.9);
}

#nofop {
  background: #812b69;
  background: url('../img/icon2.png?1421628175') 0 -60px no-repeat rgba(129, 43, 105, 0.9);
}

#wepropose {
  background: #59a136;
  background: url('../img/icon3.png?1421628175') 0 -60px no-repeat rgba(89, 161, 54, 0.9);
}

#why {
  background: #7f7cc7;
  background: url('../img/icon4.png?1421628176') 0 -60px no-repeat rgba(127, 124, 199, 0.9);
}

#share {
  background-color: rgba(0, 0, 0, 0.25);
  padding-top: 3em;
  padding-bottom: 300px;
}
#share p {
  padding: 1em 0 6em 0;
}

footer {
  background-color: #0d0d0d;
  color: #f2f2f2;
  font-size: 9pt;
  border-top: 2px solid gray;
  padding: 2em 0.5em;
}
footer ul {
  text-align: left;
  padding: 0 2em;
  list-style: square;
}
footer a {
  color: #a29db8;
}

/* Modules */
#support {
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  background: #86a136;
  background: rgba(134, 161, 54, 0.8);
  color: white;
  position: relative;
}
#support:hover {
  background-color: rgba(163, 194, 72, 0.8);
}
#share #support {
  font-size: 175%;
}

#share-link {
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  background: #6e6abf;
  background: rgba(110, 106, 191, 0.8);
  color: white;
  position: relative;
}
#share-link:hover {
  background-color: rgba(145, 142, 207, 0.8);
}

@media screen and (min-width: 480px) {
  #hashtag {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
  }
}
