/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/support";

$browser-minimum-versions: (ie: "8");

/* Palette */
$colorA: #86A136;
$colorB: desaturate(lighten(#7F2A68, 15%), 15%);
$colorC: lighten(#867FA2, 0.2);
$colorD: #363377;
$colorE: #01a1df;

/* Defaults */
body {
    font-family: Tahoma, "DejaVu Sans Condensed", sans-serif;
    font-size: 14pt;
    text-align: center;
    background: image-url('1280px-Old-castle.jpg') top center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    @include box-sizing(border-box);
}
img {
    max-width: 100%;
}
.no-background-size body {
    // Без «розтягуваного» тла робимо просто колір
    background: $colorE;
}

h2 {
    font-size: 165%;
    padding: 0.5em 0;
    color: white;
}
p {
    padding: 0.5em 0;
    line-height: 125%;
}

a {
    color: darken($colorE, 25%);
    font-weight: bold;
    text-decoration: none;
}

/* Layout */
section > div, footer > div {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.25em;
}
section:not(#intro), footer {
    border-top: 3px solid transparentize(white, 0.4);
}

#intro {
    //background: transparentize(black, 0.7);
    padding: 2em;
    font-size: 18pt;
    color: white;
    min-height: 4em;
//    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Berlin_Panorama_%288324921866%29.jpg/1280px-Berlin_Panorama_%288324921866%29.jpg') center 100% no-repeat;
    //text-shadow: 1px 1px 0 black;
    a {
        color: white;
    }
}
#intro, #share {
    text-shadow: 0 0 12px transparentize(black, 0.4);
}

$blocktransparency: 0.1;
#whatisit {
    //background-color: transparentize(lighten($colorB, 15%), 0.2);
    background: $colorA; // For dumb browsers
    background: image-url('icon1.png') 0 -60px no-repeat transparentize($colorA, $blocktransparency);
}
#nofop {
    background: $colorB; // For dumb browsers
    background: image-url('icon2.png') 0 -60px no-repeat transparentize($colorB, $blocktransparency);
}
#wepropose {
    $wepropose-color: adjust-hue($colorA, 25deg);
    background: $wepropose-color; // For dumb browsers
    background: image-url('icon3.png') 0 -60px no-repeat transparentize($wepropose-color, $blocktransparency);
}
#why {
    $why-color: lighten($colorD, 30%);
    background: $why-color; // For dumb browsers
    background: image-url('icon4.png') 0 -60px no-repeat transparentize($why-color, $blocktransparency);
}
#photoflashmob {
    $flashmob-color: lighten($colorA, 15%);
    background: $flashmob-color; // For dumb browsers
    background: transparentize($flashmob-color, $blocktransparency);
    /* When inside the popup */
    .mfp-content & {
        $flashmob-color: lighten($flashmob-color, 10%);
        background: transparentize($flashmob-color, 0.15);
    }
}
#share {
    background-color: transparentize(black, 0.75);
    padding-top: 3em;
    padding-bottom: 300px; // Щоб прокручувалось
    p {
        padding: 1em 0 6em 0;
    }
}
footer {
    background-color: lighten(black, 5%);
    color: darken(white, 5%);
    font-size: 9pt;
    border-top: 2px solid gray;
    padding: 2em 0.5em;
    ul {
        text-align: left;
        padding: 0 2em;
        list-style: square;
    }
    a {
        color: lighten($colorC, 10%);
    }
}

/* Modules */
#langswitch {
    padding-top: 0.5em;
    a {
        font-size: 80%;
        color: white;
        padding: 0 0.5em;
        font-weight: normal;
    }
}
@mixin button ($buttonColor) {
    display: inline-block;
    padding: 0.5em 1.5em;
    margin: 0.2em;
    @include border-radius(0.2em);
    background: opacify($buttonColor, 1); // For dumb browsers
    background: $buttonColor;
    color: white;
    position: relative;
    &:hover {
        background-color: lighten($buttonColor, 10%);
    }
}
.button {
    @include button(transparentize($colorA, 0.2));
}
#support {
    #share & {
        font-size: 175%;
    }
}
#share-link {
    @include button(transparentize(lighten($colorD, 25%), 0.2));
}
.button.photoflashmob {
    @include button(transparentize(#d44, 0.2));
}
.illustration {
    margin: 0.25em;
    //max-width: 100%;
    display: block;
    @include box-shadow(0 0 12px transparentize(white, 0.5));
}

@media screen and (min-width: 480px) {
    #hashtag, #langswitch {
        position: absolute;
        top: 0.3em;
    }
    #hashtag {
        right: 0.3em;
    }
    #langswitch {
        left: 0.3em;
        a {
            padding: 0 0.25em;
        }
    }
    .illustration {
        float: right;
        max-width: 300px;
    }
}

/* Plugins */
/* Magnific Popup */
@import url("magnific-popup.css");
.mfp-content {
    max-width: 1024px;
}
