/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/support";

$browser-minimum-versions: (ie: "10");

/* Palette */
$colorA: white;
$colorB: #01a1df;
$colorC: #8ad447;
$colorD: #945089;

/* Defaults */
body {
    font-family: Tahoma, "DejaVu Sans Condensed", sans-serif;
    font-size: 14pt;
    background: image-url('1280px-Old-castle.jpg') top center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    @include box-sizing(border-box);
}
img {
    max-width: 100%;
}
h1, h2 {
    padding: 0.5em 0;
    font-weight: bold;
}
h1 {
    font-size: 180%;
    color: white;
}
h2 {
    font-size: 165%;
    color: darken($colorB, 10%);
}
p {
    padding: 0.5em 0;
    line-height: 125%;
}

a {
    color: darken($colorB, 25%);
    font-weight: bold;
    text-decoration: none;
}

/* Layout */
section > div, footer > div {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0.25em;
}
section:not(#intro):not(#share), footer {
    margin-top: 4rem;
    border-top: 3px solid transparentize(white, 0.4);
}
section:not(#intro) p {
    text-shadow: 0 0 4px transparentize(white, 0.5);
}

#intro {
    padding: 2em;
    font-size: 18pt;
    color: white;
    min-height: 4em;
    a {
        color: white;
    }
}
#intro, #share {
    text-shadow: 0 0 12px transparentize(black, 0.4);
    text-align: center;
}

$blocktransparency: 0.2;
#whatisit {
    background: $colorA; // For dumb browsers
    background: image-url('icon1.png') 0 -60px no-repeat transparentize($colorA, $blocktransparency);
}
#nofop {
    background: $colorA; // For dumb browsers
    background: image-url('icon2.png') 0 -60px no-repeat transparentize($colorA, $blocktransparency);
}
#wepropose {
    background: $colorA; // For dumb browsers
    background: image-url('icon3.png') 0 -60px no-repeat transparentize($colorA, $blocktransparency);
}
#why {
    background: $colorA; // For dumb browsers
    background: image-url('icon4.png') 0 -60px no-repeat transparentize($colorA, $blocktransparency);
}
#share {
    padding-top: 3em;
    padding-bottom: 300px; // Щоб прокручувалось
    border-top: none;
    p {
        padding: 1em 0 6em 0;
    }
    h2 {
        color: white;
    }
}
footer {
    background-color: lighten(black, 5%);
    color: darken(white, 5%);
    font-size: 9pt;
    border-top: 2px solid gray;
    padding: 2em 0.5em;
    ul {
        text-align: left;
        padding: 0 2em;
        list-style: square;
    }
    a {
        color: lighten($colorB, 10%);
    }
}

/* Modules */
#langswitch {
    padding-top: 0.5em;
    a {
        font-size: 80%;
        color: white;
        padding: 0 0.5em;
        font-weight: normal;
    }
}
.changes-needed {
    background: #aa4;
    padding: 0.5em;
}
@mixin button ($buttonColor) {
    display: inline-block;
    padding: 0.5em 1.5em;
    margin: 0.2em;
    @include border-radius(0.2em);
    background: opacify($buttonColor, 1); // For dumb browsers
    background: $buttonColor;
    color: white;
    position: relative;
    &:hover {
        background-color: lighten($buttonColor, 10%);
    }
}
.button {
    @include button(transparentize($colorA, 0.2));
}
#support {
    #share & {
        font-size: 175%;
    }
}
#share-link {
    @include button(transparentize(lighten($colorB, 25%), 0.2));
}
.illustration {
    margin: 0.25em;
    margin-top: -3rem;
    margin-right: 2rem;
    //max-width: 100%;
    display: block;
    @include box-shadow(0 0 12px transparentize(white, 0.5));
}

@media screen and (min-width: 480px) {
    #hashtag, #langswitch {
        position: absolute;
        top: 0.3em;
    }
    #hashtag {
        right: 0.3em;
    }
    #langswitch {
        left: 0.3em;
        a {
            padding: 0 0.25em;
        }
    }
    .illustration {
        float: right;
        max-width: 300px;
    }
}
